# Como tal el gitignore ignora la subida del .env por ende creamos un archivo de ejemplo
# para que los demas puedan crear su propio .env y no se suba al repositorio
# el docker-compose.yml crea un contenedor de postgres con estos datos de conexion,
# si se desea cambiar la contraseña o el usuario, se debe cambiar en el docker-compose.yml y en este archivo.

# el docker-compose.yml no creo que lo ocupemos en el despligue con el sv de la u pero por mientras
# trabajamos con docker-compose para que sea mas facil de levantar el proyecto y 
# no tener que andar configurando y usando la app de postgres 

#por defecto es usuario:password, puerto, nombre de la bd
DATABASE_URL="postgresql://admin:admin123@localhost:5432/refugio"